header{
  background-color: #3B0973;
  padding: 20px 4rem;
}
header a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.right a{
  margin-left: 30px;
}
.left a{
  font-size: 23px;
}



